/* Estilos gerais - Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 200vh;
    /* só pra poder rolar */
    background: #0F172A;
background: linear-gradient(180deg, rgba(15, 23, 42, 1) 0%, rgba(8, 20, 59, 1) 27%, rgba(8, 20, 59, 1) 80%, rgba(9, 223, 170, 1) 97%);
    background-attachment: fixed;
    position: relative;
    overflow-x: hidden;
    /* Previne overflow horizontal */
    
}

/* Adiciona a imagem linhas.png no fundo da segunda seção */
body::after {
    content: '';
    position: absolute;
    top: 65vh;
    right: 0;
    width: min(1000px, 100vw);
    height: 1200px;
    background-image: url('../img/linhass.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    z-index: 1;
    pointer-events: none;
    opacity: 0.6;
}

/* Oculta a imagem de fundo na versão mobile */
@media (max-width: 576px) {
    body::after {
        display: none;
    }
}